<%= form_with(model: @user, local: true ,url: choose_new_or_edit ) do |form| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= @user.errors.count %>errors occurred.</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="blog_title">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="blog_title">
      <%= form.label :email %>
      <%= form.text_field :email%>
    </div>
    <div class="blog_title">
        <%= form.label :proffession%>
        <%= form.text_field :profession %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div>         
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>
    <div class="blog_title">
        <%= form.label :role %>
        <%= form.text_field :Role %>
    </div>
    <%= form.submit %>
<% end %>
